// Mixins Here
.center(){
    display:flex;
    justify-content:space-around;
}
.borderradius{
    border-radius:5px;
}
.custombutton(@white,@darkpurple){
    background-color:@darkpurple;
    color:@white;
}