nav {
  display: flex;
  justify-content: space-around;
  margin: 100px 170px -50px 160px;
}
@media (max-width: 500px) {
  nav {
    display: none;
  }
}
header nav a {
  text-decoration: none;
  font-size: 15px;
  color: grey;
}
@media (max-width: 500px) {
  header nav a {
    margin: 10px 10px 10px 10px;
  }
}
